<div class="home-wrapper">
    <h2>All Categories</h2>

    <div *ngIf="loadingCategories" class="loader">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loadingCategories" class="categories">
        <button *ngFor="let category of categories" class="category-btn" (click)="selectCategory(category)">
            {{ category | titlecase }}
        </button>
    </div>

    <div *ngIf="loadingProducts" class="loader">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loadingProducts">
        <div *ngIf="filteredProducts.length > 0" class="products">
            <div class="product-card" *ngFor="let product of filteredProducts" (click)="viewProduct(product.id)">
                <img [src]="product.image" alt="{{ product.title }}" />
                <h3>{{ product.title | slice:0:20 }}...</h3>
                <h5>{{product.description}}</h5>
                <p>${{ product.price }}</p>
            </div>
        </div>

        <p *ngIf="searchPerformed && filteredProducts.length === 0" class="no-products">
            No products found 🚫
        </p>
    </div>
</div>