<div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search..." />

    <button mat-icon-button (click)="clearSearch()" *ngIf="searchQuery.length > 0">
        <mat-icon>clear</mat-icon>
    </button>

    <button mat-icon-button (click)="onSearch()" *ngIf="searchQuery.length === 0">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div *ngIf="searchQuery.length > 0 && suggestions.length > 0" class="suggestions">
    <div *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
        {{ suggestion.title }}
    </div>
</div>